<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Auth Code</title>
</head>
<body>
    <h1>Welcome to Auth Code!</h1>
    <img src="/img/code.webp">
    <div>
        <a href="/registration">Register for Auth Code</a><br>
        <a href="/login">Login to Auth Code</a>
    </div>
    <script src="/js/homepage.js"></script>
</body>
</html>